body{
    background-color:#DDE3EC ;
    
}
.bouton :hover{
    background-color: green;
}
.mon_entreprise_card{
    width:300px ;
    background-color:  #FFFFFF;
      
    border-radius: 10px;
}
.parent{
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    margin: 20px;
    margin-left: 100px;
   
    
}


.mon_entreprise_card button{
    background-color: rgb(69, 103, 179);
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 8px;
    
}
.bouton{
    text-align: center;
}
.description{
    padding: 15px;
    font-family: "Manrope";
 
}

.image1{
    background-image: url('images/sbeee.jpeg');
    background-size: cover;
    height: 300px;
    
}
.image2{
    background-image: url('images/soneb.jpeg');
    background-size: cover;
    height: 300px;
}
.image3{
    background-image: url('images/banque.jpeg');
    background-size: cover;
    height: 300px;
}
.image4{
    background-image: url('images/celtis.jpeg');
    background-size: cover;
    height: 300px;
}
.image5{
    background-image: url('images/erevan.jpeg');
    background-size: cover;
    height: 300px;
}
.image6{
    background-image: url('images/ban.jpeg');
    background-size: cover;
    height: 300px;
}
.image7{
    background-image: url('images/digital.jpeg');
    background-size: cover;
    height: 300px;
    
}

.image_{
    background-image: url('images/construction.jpeg');
    background-size: cover;
    height: 300px;
    
}
.en_tete{
    text-align: center;
    margin: 50px;
    font-family: "Montserrat";
}
.bienvenue
{
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 40px;
    width: 500px ;
    margin: 50px 400px 20px 400px;
    height: 400px;
}

.tel{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 0 0 90px;
    gap: 20px;
    padding: 8px 8px 0 0;
}
.tel input
{
    padding: 15px;
    border-radius: 10px;
}


.formulaire form label{
    margin-right: 180px;
}
.bas
{
    
    margin: 80px ;

}
#unique                                  
{
    background-color: rgb(21, 85, 225);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    color: white;
    
}
#unique:hover
{
    background-color: green;
    
}

.code
{
    background-color: blue;
}
