body{
    background-color:#DDE3EC ;
}
.bouton :hover{
    background-color: green;
}
.mon_entreprise_card{
    width:300px ;
    background-color:  #FFFFFF;
    border-radius: 10px;
}
.parent{
    
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin: 20px;
    margin-left: 100px;   
}


.mon_entreprise_card button{
    background-color: rgb(69, 103, 179);
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 8px;
    
}
.bouton{
    text-align: center;
}
.description{
    padding: 15px;
    font-family: "Manrope";
 
}

.image1{
    background-image: url('images/sbeee.jpeg');
    background-size: cover;
    height: 300px;
    
}
.image2{
    background-image: url('images/soneb.jpeg');
    background-size: cover;
    height: 300px;
}
.image3{
    background-image: url('images/banque.jpeg');
    background-size: cover;
    height: 300px;
}
.image4{
    background-image: url('images/celtis.jpeg');
    background-size: cover;
    height: 300px;
}
.image5{
    background-image: url('images/erevan.jpeg');
    background-size: cover;
    height: 300px;
}
.image6{
    background-image: url('images/ban.jpeg');
    background-size: cover;
    height: 300px;
}
.image7{
    background-image: url('images/digital.jpeg');
    background-size: cover;
    height: 300px;
    
}

.image_{
    background-image: url('images/construction.jpeg');
    background-size: cover;
    height: 300px;
    
}
.en_tete{
    text-align: center;
    margin: 50px;
    font-family: "Montserrat";
}
.formulaire{
    font-family: "Montserrat";
    width: 400px;
    margin: auto;
    background-color: #FFFFFF;
    height: 400px;
    padding: 15px;
    text-align: center;
    margin-top: 50px; 
    border-radius: 15px;
}
.formulaire form{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
   
}
#submit{
     width: 40%;
     margin: 30px;
    border-radius: 8px;
     padding: 10px;
      background-color: rgb(69, 103, 179);
      text-align: center;
      color: white;
      
    
}
#submit:hover{
    background-color: green;  
}

#operation{
    width: 93%;
    padding: 7px ;
    border-radius: 8px;      
}
#date{
     width: 90%;
    padding: 7px ;
    border-radius: 8px;
}

label span{
    color: red;
}



